<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>laike-parent</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/laike-core-spring/laike-core-application.xml
            classpath*:/laike-core-spring/laike-soa-provider.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>production</param-value>
    </context-param>

    <!-- xss -->
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
        <!--<listener-class>com.yeepay.g3.utils.soa.context.ContextLoaderListener</listener-class>-->
        <listener-class>com.yeepay.g3.athena.collection.listener.AthenaListener</listener-class>
    </listener>
    <!--<context-param>-->
        <!--<param-name>soa_app_name</param-name>-->
        <!--<param-value>laike-parent</param-value>-->
    <!--</context-param>-->
    <listener>
        <listener-class>com.yeepay.infra.MetricsServletsWiringContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>metrics</servlet-name>
        <servlet-class>com.yeepay.infra.servlets.MetricsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>metrics</servlet-name>
        <url-pattern>/metrics/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>soa</servlet-name>
        <servlet-class>com.yeepay.g3.utils.soa.remoting.http.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>soa</servlet-name>
        <url-pattern>/soa/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>class</servlet-name>
        <servlet-class>com.yeepay.g3.utils.soa.remoting.http.servlet.HttpURLClassLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>class</servlet-name>
        <url-pattern>/class/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hessian</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>hessian</servlet-name>
        <url-pattern>/hessian/*</url-pattern>
    </servlet-mapping>

    <!-- Filter 定义 -->
    <!-- Character Encoding filter -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
